@import 'global.scss';
$padding-size: 25px;
$chess-coords-size: $padding-size * 1.4;
// $min-size: 8 * 40px + $padding-size + $chess-coords-size;

// @mixin setBoardSize($length) {
//   width: $length;
//   height: $length;
// }



.Container {
  position: relative;
  display: inline-flex;
  justify-content: center;


  .Timer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
  }

}





.BoardGrid {
  position: relative;
  box-sizing: content-box;
  padding: $padding-size $padding-size $chess-coords-size
    $chess-coords-size;
  display: inline-grid;
  background-color: transparentize($newPrimary, 0.2);
  cursor: crosshair;



  .TimeStarter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(44, 30, 30, 0.541);
  
  }
}

.ChessCoords {
  position: absolute;
  span {
    display: block;
  }

  display: flex;
  align-items: center;

  color: #c2ab2c;

  &.Vertical {
    top: $padding-size;
    bottom: $padding-size;
    left: 0;
    width: $chess-coords-size;

    span {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    flex-direction: column;
  }

  &.Horizontal {
    bottom: 0;
    left: $chess-coords-size;
    right: $padding-size;
    height: $chess-coords-size;

    span {
      text-align: center;
      width: 100%;
    }
  }
}

// .WithoutBackground {
//   background-color: transparent !important;
// }