$duration: 350ms;
$animationable-timing-function: cubic-bezier(0.11, 0, 0.5, 0);
$iteration-count: 6;

@mixin animations($animation-name) {
    &.turnCompleted {
        animation: $animation-name  $duration $animationable-timing-function 4 alternate;
    }

    &.game-breakpoint {
        animation: $animation-name ($duration / 2) $animationable-timing-function 8 alternate;
    }
    

}




#animationable-left {
    transform-origin: 122px 91px;
    @include animations(hit-left)
}


#animationable-right {
    transform-origin: 407px 91px;
    @include animations(hit-right)
}

#gong-left {
    fill: #d6d6d6;
    transform: translate(-22px, 318px) rotate(90deg);
    transform-origin: 167px -148px;
    @include animations(gong-reaction-left)
}

#gong-right {
    fill: #d6d6d6;
    transform: translate(-323px, 327px) rotate(-90deg);
    transform-origin: 178px -148px;
    @include animations(gong-reaction-right)
}




@keyframes hit-left {
    0% {
        transform: rotate(0);
    }


    90% {
        transform: rotate(-47deg);
    }
    100% {
        transform: rotate(-58deg);
    }
}

@keyframes hit-right {
    0% {
        transform: rotate(0);
    }


    90% {
        transform: rotate(47deg);
    }
    100% {
        transform: rotate(58deg);
    }
}




@keyframes gong-reaction-left {

    90% {
        transform: translate(-22px, 318px) rotate(90deg);
        fill: #d6d6d6;
    }
    90.1% {
        fill: red;
    }
    100% {
        transform: translate(-10px, 318px) rotate(90deg);
        fill: red;
    }
}


@keyframes gong-reaction-right {

    90% {
        transform: translate(-323px, 327px) rotate(-90deg);
        fill: #d6d6d6;
    }
    90.1% {
        fill: red;
    }
    100% {
        transform: translate(-335px, 327px) rotate(-90deg);
        fill: red;
    }
}