
// @import "~bootstrap/scss/";

$theme-colors: (
    "primary":#200849,
    // "info": tomato,
    // "danger": teal
);

$color-maroon: rgb(114, 13, 13);

.bg-maroon {
    background-color: $color-maroon !important;
}

.text-maroon {
    color: $color-maroon;  
}

.border-maroon {
    border: solid 2px $color-maroon !important;
}

body {
    background-image:
    url("./assets/clouds-background.jpg");
  background-repeat: no-repeat;
}

.cursor-pointer {
    cursor: pointer;
}

.playground-tabs {
    @extend .bg-light;
    @extend .w-50;
    @extend .nav-fill;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";