
// @import "~bootstrap/scss/";

$theme-colors: (
    "primary":#200849,
    // "info": tomato,
    // "danger": teal
);

body {
    background-image:
    url("./assets/clouds-background.jpg");
  background-repeat: no-repeat;
}

.cursor-pointer {
    cursor: pointer;
}

.playground-tabs {
    @extend .bg-light;
    @extend .w-50;
    @extend .nav-fill;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";