
// @import "~bootstrap/scss/";
$color-maroon: rgb(114, 13, 13);
$color-myblue: rgb(6, 6, 104);
$newPrimary: #200849;

:export {
    myBlue: $color-myblue;
    maroon: $color-maroon;

}

$theme-colors: (
    "primary": $newPrimary,
    "primary-light": transparentize($newPrimary, 0.2),
    "maroon": $color-maroon,
    "myblue": $color-myblue
    // "info": tomato,
    // "danger": teal
);



.bg-maroon {
    background-color: $color-maroon !important;
}

.bg-myblue {
    background-color: $color-myblue !important;
}

.text-maroon {
    color: $color-maroon;  
}

.border-maroon {
    border: solid 2px $color-maroon !important;
}

.fill-myblue-light {
    fill: lighten($color-myblue, 40%);
}

.overflow-scroll {
    overflow: scroll;
}

.letter-spacing-default {
letter-spacing: 12px;
}

body {
    overflow-x: hidden;
    background-image:
    url("./assets/clouds-background.jpg");
  background-repeat: repeat;
}

.cursor-pointer {
    cursor: pointer;
}

.navbar-toggler {
    color: white !important;
}

.playground-tabs {
    @extend .bg-light;
    @extend .w-50;
    @extend .nav-fill;
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";


